@charset "UTF-8";
@use 'mixin' as mix;

/* ---------------------------------------
共通
--------------------------------------- */

html {
  font-size: 100%;
}

body {
  background-color: #f2ece4;
  font-family: fot-tsukuaoldmin-pr6n, sans-serif;
  font-style: normal;
  font-weight: 300;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.fadeout,
.fadeout1 {
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 0px);
}

.fadeout {
  transition: all 1s;
  transition-delay: 1.5s;
}

.fadeout1 {
  transition: all 1.5s ease-out;
  transform: translate(0px, 20px);
}

.fadein {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}

/* ---------------------------------------
setting
--------------------------------------- */
$color_line: #707070;
$color_bg: #ffffff;

$font_7x-large: 5.6vw;
$font_6x-large: 5.2vw;
$font_5x-large: 4.8vw;
$font_4x-large: 4.4vw;
$font_3x-large: 4vw;
$font_xx-large: 3.6vw;
$font_x-large: 3.2vw;
$font_llarge: 2.8vw;
$font_large: 2.4vw;
$font_x-midium: 2vw;
$font_medium: 1.6vw;

/* ---------------------------------------
header
--------------------------------------- */
.header {
  position: relative;
  padding-top: 2.6%;
  display: flex;
  justify-content: center;

  &__ig,
  &__fb {
    position: absolute;

    @include mix.mq(sp) {
      display: none;
    }
  }

  &__ig {
    right: 7.9vw;
  }

  &__fb {
    right: 2.5vw;
  }
}

.nav {
  display: flex;

  &__item {
    font-size: $font_medium;
    margin: 0 2.6vw;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1%;
      background-color: $color_line;
      bottom: -2%;
      left: 0;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transform-origin: center top;
      transform-origin: center top;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.sns {
  object-fit: cover;

  &__ig,
  &__fb {
    width: 2.9vw;
  }
}

.header-nav {
  @include mix.mq(sp) {
    display: none;
  }
}

.ham {
  display: none;

  @include mix.mq(sp) {
    display: block;
  }

  &-menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 10%;
    padding: 0 0 2% 0;
    clear: both;
    background: rgba(252, 252, 252, 0.9);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
    z-index: 10000;
    text-align: center;

    &__list {
      border-bottom: 1px solid $color_line;
      padding: 3% 0;
      margin: 0 10vw;
      transition: 0.5s;
    }

    &__link {
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.1vw;
      font-size: $font_xx-large;
      text-transform: capitalize;
      transition: 0.5s;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 1%;
        background-color: $color_line;
        bottom: -2%;
        left: 0;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }

  &__btn {
    display: none;

    &:checked~.ham-menu a,
    &:checked~.ham-menu li {
      opacity: 1;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }

    &:checked~.ham-menu {
      transform: scale(1, 1);
      transform-origin: top;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }

    &:checked~.ham__icon .ham__navicon:before {
      transform: rotate(-45deg);
    }

    &:checked~.ham__icon .ham__navicon:after {
      transform: rotate(45deg);
    }

    &:checked~.ham__icon:not(.steps) .ham__navicon:before {
      top: 0;
    }

    &:checked~.ham__icon:not(.steps) .ham__navicon:after {
      bottom: 0;
    }

    &:checked~.ham__icon .ham__navicon {
      background: rgba(0, 0, 0, 0);
      transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
  }

  &__navicon {
    background: $color_line;
    display: block;
    height: 1px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;

    &::after,
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: $color_line;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }

    &::after {
      bottom: 9px;
    }

    &::before {
      top: 9px;
    }
  }

  &__icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 3% 5vw;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__ig,
  &__fb {
    width: 5vw;
    margin: 0 1vw;
  }
}

/* ---------------------------------------
footer
--------------------------------------- */
hr {
  border: {
    width: 0.1vw 0px 0px 0px;
    style: solid;
    color: $color_line;
  }

  height: 1px;
  margin: 0 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;

  &__sns {
    display: flex;
    gap: 2vw;
    padding: 1%;
  }
}

.sns {

  &__ig-footer,
  &__fb-footer {
    @include mix.mq(sp) {
      width: 7vw;
    }
  }
}

.nav__footer-item {
  @include mix.mq(sp) {
    font-size: $font_xx-large;
  }
}

.policy {
  font-size: $font_medium;
  text-decoration: underline;
  padding: 1%;

  &:hover {
    opacity: 0.7;
  }

  @include mix.mq(sp) {
    font-size: $font_xx-large;
  }
}

.copy-right {
  font-size: 1.4vw;

  @include mix.mq(sp) {
    font-size: $font_x-large;
  }
}

/* ---------------------------------------
pankuzu-list
--------------------------------------- */

.pankuzu-list {
  &__heading-lv2 {
    font-size: $font_x-large;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    margin-top: 10%;

    @include mix.mq(sp) {
      font-size: $font_7x-large;
    }

    &:after {
      content: '';
      border-top: 1px solid $color_line;
      width: 69vw;
      margin-left: 2vw;
      animation: border-anim1 1.5s ease forwards;

      @include mix.mq(sp) {
        width: 50vw;
      }
    }
  }

  &__heading-lv4 {
    font-size: $font_medium;
    display: flex;
    justify-content: flex-end;

    margin : {
      right: 8.2vw;
      bottom: 20%;
    }

    @include mix.mq(sp) {
      font-size: $font_xx-large;
    }
  }

  &__link {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1%;
      background-color: $color_line;
      bottom: -2%;
      left: 0;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transform-origin: center top;
      transform-origin: center top;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }

  &__line {
    display: flex;
    align-items: center;

    &:after {
      content: '';
      border-top: 1px solid $color_line;
      width: 2vw;
      margin: 0 1.5vw;
    }
  }
}

.font-anim {
  animation: font-anim 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes border-anim1 {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    width: 59vw;
    opacity: 1;
  }
}

@keyframes font-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------------------------------
index__main-visual
--------------------------------------- */
.main-visual {
  padding: {
    top: 2%;
    bottom: 5%;
  }

  @include mix.mq(sp) {
    padding: {
      top: 2%;
      bottom: 0%;
    }
  }

  &__img {
    width: 61.5vw;
    margin-left: 8.6vw;

    @include mix.mq(sp) {
      width: 90vw;
      margin-left: 5vw;
    }
  }

  &__img2 {
    width: 26vw;

    margin : {
      top: -35%;
      bottom: 35%;
      left: 60vw;
    }

    @include mix.mq(sp) {
      width: 40vw;

      margin : {
        top: -50%;
        bottom: 47%;
        left: 55vw;
      }
    }
  }

  &__heading-lv1 {
    color: #5e5e5e;
    text-shadow: 0px 3px 6px #4a4a4a;
    font-size: 5.6vw;

    margin: {
      left: 58vw;
      top: -48%;
    }

    @include mix.mq(sp) {
      font-size: 7.8vw;

      margin: {
        top: -70%;
        left: 53%;
      }
    }
  }

  &__heading-lv4 {
    margin: {
      left: 58.6vw;
      bottom: 3%;
    }

    font-size: $font_medium;
    text-decoration: underline;

    @include mix.mq(sp) {
      margin : {
        left: 0vw;
        bottom: 12%;
        right: 2vw;
      }

      font-size: $font_xx-large;
      text-align: right;
    }
  }
}

/* ---------------------------------------
index__column
--------------------------------------- */
.col {
  background-color: $color_bg;
  padding: 2.5% 0 5%;

  @include mix.mq(sp) {
    padding: 5% 2.5%;
    text-align: center;
  }

  &__heading-lv3 {
    font-size: $font_large;
    padding-left: 5vw;

    @include mix.mq(sp) {
      font-size: $font_5x-large;
      padding-left: 0vw;
    }
  }

  &__text {
    font-size: $font_medium;

    margin: {
      left: 5vw;
      top: 1%;
    }

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 70vw;

      margin: {
        left: auto;
        right: auto;
        top: 1%;
      }
    }
  }

  &__list {
    margin-top: 3.5%;
    display: flex;
    gap: 5.4vw;
    justify-content: center;

    @include mix.mq(sp) {
      margin-left: 17vw;
      display: block;
    }
  }

  &__item {
    width: 24vw;

    @include mix.mq(sp) {
      width: 60vw;
      margin-top: 10%;
    }
  }

  &__lead {
    font-size: $font_medium;
    line-height: 150%;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
    }
  }

  &__btn {
    margin: {
      top: 3%;
      left: 70vw;
    }

    width: 17vw;
    font-size: $font_medium;

    @include mix.mq(sp) {
      margin: {
        top: 5%;
        left: auto;
        right: auto;
        bottom: 2%;
      }

      width: 40vw;
      font-size: $font_xx-large;
    }
  }
}

.btn {
  background-image: url(../images/bg.png);
  border: solid 0.1vw $color_line;

  &:hover {
    opacity: 0.7;
  }

  &__text {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      bottom: 40%;
      background: $color_line;
      transition: all 0.3s;
    }

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background: $color_line;
      transform: rotate(35deg);
      transition: all 0.35s;
    }
  }

  &__col-text {
    padding-left: 5vw;

    @include mix.mq(sp) {
      padding-left: 0vw;
    }

    &:before {
      left: -2vw;
      width: 4vw;

      @include mix.mq(sp) {
        left: -4vw;
        width: 7vw;
      }
    }

    &:after {
      right: 14.5vw;
      width: 1.5vw;
      bottom: 53%;

      @include mix.mq(sp) {
        right: 36.5vw;
        width: 3vw;
        bottom: 53%;
      }
    }

    &:hover::before {
      left: 1vw;

      @include mix.mq(sp) {
        left: 2vw;
      }
    }

    &:hover::after {
      right: 11.5vw;

      @include mix.mq(sp) {
        right: 30.5vw;
      }
    }
  }

  &__contact-text {
    padding-left: 5vw;

    &:before {
      left: -3vw;
      width: 6vw;

      @include mix.mq(sp) {
        left: -4vw;
        width: 8vw;
      }
    }

    &:after {
      right: 20.5vw;
      width: 2vw;
      bottom: 53.5%;

      @include mix.mq(sp) {
        right: 25vw;
        width: 3.5vw;
        bottom: 57%;
      }
    }

    &:hover::before {
      left: 1vw;

      @include mix.mq(sp) {
        left: -1vw;
      }
    }

    &:hover::after {
      right: 16.5vw;

      @include mix.mq(sp) {
        right: 21.8vw;
      }
    }
  }
}

/* ---------------------------------------
index__main
--------------------------------------- */
.main {
  background-image: url(../images/content-bg.png);

  @include mix.mq(sp) {
    padding-bottom: 10%;
    background-size: cover;
  }

  &__heading-lv2 {
    padding-top: 12.3%;
    margin-bottom: 2.5%;
    font-size: $font_x-large;
    display: flex;
    align-items: center;

    @include mix.mq(sp) {
      margin-bottom: 5%;
      font-size: $font_4x-large;
    }

    &:before {
      content: '';
      border-top: 1px solid $color_line;
      width: 17vw;
      margin-right: 2.2vw;

      @include mix.mq(sp) {
        width: 15vw;
      }
    }
  }

  .font-anim1::before {
    animation: border_anim 3s ease forwards;
  }

  @keyframes border_anim {
    0% {
      width: 0;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      width: 17vw;
      opacity: 1;
    }
  }

  &__wrap {
    display: flex;

    @include mix.mq(sp) {
      display: block;
    }
  }

  &__text {
    font-size: $font_medium;
    width: 54vw;
    margin-left: 4.8vw;
    padding-bottom: 12.3%;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 80vw;
      margin: auto;
    }
  }

  &__img {
    width: 51vw;

    @include mix.mq(sp) {
      width: 80vw;

      margin: {
        left: 10vw;
        // bottom: -60%;
      }
    }
  }
}

/* ---------------------------------------
index__service
--------------------------------------- */
.service {
  display: flex;

  @include mix.mq(sp) {
    display: block;
  }

  &__wrap {
    background-color: #776454;
    width: 50vw;
    padding-bottom: 5%;

    @include mix.mq(sp) {
      width: 100%;
      padding-bottom: 5%;
    }
  }

  &__lead {
    font-size: 9vw;
    color: #a4a4a4;
    opacity: 0.1;
    margin-left: 4.7vw;

    @include mix.mq(sp) {
      font-size: 14.2vw;
      text-align: center;
      margin-left: 0vw;
    }
  }

  &__heading-lv2 {
    font-size: $font_x-large;
    color: $color_bg;

    margin: {
      left: 4.7vw;
      top: -20%;
    }

    @include mix.mq(sp) {
      font-size: $font_7x-large;
      text-align: center;

      margin : {
        top: -17%;
        left: 0;
      }
    }
  }

  &__text {
    width: 40.4vw;
    font-size: $font_medium;
    color: $color_bg;

    margin: {
      top: 7%;
      bottom: 7%;
      left: 4.7vw;
    }

    @include mix.mq(sp) {
      width: 80vw;
      font-size: $font_xx-large;
      margin: 5% auto;
      text-align: center;
    }
  }

  &__click-img {
    width: 4.8vw;

    margin : {
      left: 2.5vw;
      bottom: -10%;
    }

    @include mix.mq(sp) {
      width: 9vw;

      margin: {
        left: 10vw;
        bottom: -9%;
      }
    }
  }

  &-btn {
    background-image: url(../images/bg.png);
    width: 30vw;
    border: solid 0.1vw $color_line;
    padding: 1.5% 3%;

    margin: {
      top: 3.5%;
      left: 4.7vw;
    }

    &:hover {
      opacity: 0.7;
    }

    @include mix.mq(sp) {
      width: 70vw;
      margin: 3.5% auto;
    }

    &__text {
      font-size: $font_medium;

      @include mix.mq(sp) {
        font-size: $font_xx-large;
      }
    }
  }

  &__img {
    width: 50vw;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;

    @include mix.mq(sp) {
      width: 100vw;
    }
  }
}

/* ---------------------------------------
index__contact
--------------------------------------- */

.contact {
  &__heading-lv2 {
    font-size: $font_large;
    text-align: center;

    margin : {
      top: 12.3%;
      bottom: -14.5%;
    }

    @include mix.mq(sp) {
      font-size: $font_5x-large;
      margin-bottom: -17.5%;
    }
  }

  &__wrap {
    width: 75vw;
    background-color: $color_bg;
    box-shadow: 0px 3px 6px $color_line;
    margin: 12.3% auto;
    text-align: center;
    padding: 5%;

    @include mix.mq(sp) {
      width: 90vw;
      padding: 8% 5%;
    }
  }

  &__text {
    font-size: $font_medium;
    margin: 3% auto 0;
    width: 43vw;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 80vw;
    }
  }

  &__btn {
    padding: 1.5% 7% 1.5% 0%;
    margin: 0 auto;
    width: 28.8vw;
    font-size: $font_large;

    @include mix.mq(sp) {
      font-size: $font_x-large;
      width: 35vw;
    }
  }
}

/* ---------------------------------------
service__main
--------------------------------------- */
.service-main {

  &__wrap,
  &__wrap2,
  &__wrap3,
  &__wrap4 {
    display: flex;

    @include mix.mq(sp) {
      flex-direction: column-reverse;
    }
  }

  &__wrap2 {
    margin-top: 6%;
  }

  &__wrap4 {
    margin-top: -14%;
  }

  &__img-wrap {
    width: 50vw;
    object-fit: cover;

    @include mix.mq(sp) {
      width: 70vw;
      margin: 0 auto;
      margin-top: 2%;
    }
  }

  &__img0 {
    @include mix.mq(sp) {
      height: 40vh;
      width: 70vw;
      margin-top: 2%;
      margin-bottom: 30%;
    }
  }

  &__img {
    height: 84%;

    @include mix.mq(sp) {
      height: 40vh;
      margin-bottom: 30%;
    }
  }

  &__img2 {
    height: 60%;

    @include mix.mq(sp) {
      height: 40vh;
      margin-bottom: 50%;
    }
  }

  &__img3 {
    height: 80%;

    @include mix.mq(sp) {
      height: 40vh;
      margin-bottom: 30%;
    }
  }

  &__text-wrap {
    margin: 0 auto;
  }

  &__sub-title {
    font-size: $font_medium;
    opacity: 0.5;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
    }
  }

  &__title {
    font-size: $font_large;
    border-bottom: double $color_line;

    @include mix.mq(sp) {
      font-size: $font_4x-large;
    }
  }

  &__desc {
    font-size: $font_x-midium;
    margin: 4.4% 0;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
    }
  }

  &__text {
    font-size: $font_medium;
    width: 37vw;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 70vw;
    }
  }

  &__fee {
    font-size: $font_medium;
    border: solid 1px $color_line;
    text-align: center;
    width: 20vw;
    margin-top: 4.4%;
    background-image: url(../images/bg.png);

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 50vw;
    }
  }
}

.fade-in {
  transition: 0.7s ease-in-out;
}

/* ---------------------------------------
About-main
--------------------------------------- */
.about-main {
  display: flex;
  margin-bottom: 20%;

  @include mix.mq(sp) {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 18vw;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10vw;

    @include mix.mq(sp) {
      width: 30vw;
      margin: 20% 0;
    }
  }

  &__wrap {
    margin-left: 9.6vw;

    @include mix.mq(sp) {
      margin : {
        left: 0;
        bottom: 10%;
      }
    }
  }

  &__heading-lv3 {
    font-size: $font_large;

    @include mix.mq(sp) {
      font-size: $font_4x-large;
    }
  }

  &__text {
    font-size: 1.4vw;
    width: 53.1vw;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 70vw;
    }
  }
}

.about-secondary {
  display: flex;
  gap: 5vw;
  padding-bottom: 10%;
  justify-content: center;

  @include mix.mq(sp) {
    flex-direction: column;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
  }

  &__wrap {
    border-right: 0.1vw solid $color_line;
    padding-right: 2.5vw;

    @include mix.mq(sp) {
      border-right: none;
      margin-bottom: 20%;
    }
  }

  &__wrap2 {
    border-right: 0.1vw solid $color_line;
    padding-right: 2.5vw;
    margin-left: -2.5vw;

    @include mix.mq(sp) {
      border-right: none;

      margin : {
        bottom: 20%;
        left: 0;
        right: 0;
      }
    }
  }

  &__wrap3 {
    padding-right: vw;
    margin-left: -2.5vw;

    @include mix.mq(sp) {
      margin : {
        left: 0;
        bottom: 10%;
      }
    }
  }

  &__heading-lv3 {
    font-size: $font_large;
    margin-bottom: 1%;

    @include mix.mq(sp) {
      font-size: $font_4x-large;
      text-align: left;
    }
  }

  &__text {
    font-size: 1.4vw;
    width: 27vw;
    margin-bottom: 40%;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 70vw;
      margin-bottom: 5%;
      text-align: left;
    }
  }

  &__img {
    width: 27vw;
    height: 40%;
    object-fit: cover;
    margin-bottom: -24%;

    @include mix.mq(sp) {
      width: 70vw;
      height: 40vh;
      margin-bottom: 0;
    }
  }
}

/* ---------------------------------------
column-main
--------------------------------------- */
.column-main {
  &__heading-lv2 {
    font-size: $font_x-large;
    text-align: center;
    margin-bottom: 3%;

    @include mix.mq(sp) {
      font-size: $font_6x-large;
    }
  }

  &__text {
    font-size: $font_medium;
    text-align: center;
    margin-bottom: 10%;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      width: 90vw;
      margin: 0 auto 10%;
    }
  }

  &__wrap {
    display: flex;
    gap: 5vw;
    justify-content: center;
    margin-bottom: 5%;

    @include mix.mq(sp) {
      flex-direction: column;
      align-items: center;
      gap: 10vw;
      margin-top: 10%;
    }
  }

  &__card {
    width: 23vw;
    background-color: $color_bg;
    box-shadow: 0px 3px 6px $color_line;
    font-size: 1.4vw;

    @include mix.mq(sp) {
      width: 50vw;
      font-size: $font_xx-large;
    }
  }

  &__img {
    width: 23vw;
    object-fit: cover;
    height: 60%;

    @include mix.mq(sp) {
      width: 50vw;
      height: 25vh;
    }
  }

  &__cap,
  &__cap2 {
    padding-left: 1vw;
  }

  &__cap {
    padding-bottom: 5%;
  }

  &__cap2 {
    padding-bottom: 2%;
  }
}

.column-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin-bottom: 10%;
  font-size: $font_medium;

  @include mix.mq(sp) {
    font-size: $font_xx-large;
  }

  &__num {
    letter-spacing: 3vw;
  }
}

.circle {
  width: 3.5vw;
  height: 10%;
  border-radius: 50%;
  background-color: $color_line;
  text-align: center;

  @include mix.mq(sp) {
    width: 5vw;
    width: 7vw;
  }
}

/* ---------------------------------------
contact__main
--------------------------------------- */
.contact-form {
  margin-left: 24.3vw;
  font-size: $font_medium;

  @include mix.mq(sp) {
    margin-left: 5vw;
    font-size: $font_xx-large;
  }

  &__line {
    border : {
      width: 0.1vw 0px 0px 0px;
      style: solid;
      color: $color_line;
    }

    height: 1px;
    margin: 2% 0;
    width: 3vw;
  }

  &__text {
    margin-left: 17.6vw;

    @include mix.mq(sp) {
      margin-left: 0vw;
    }
  }

  &__text2 {
    margin-left: 14.4vw;

    @include mix.mq(sp) {
      margin-left: 0vw;
    }
  }

  &__text3 {
    margin-left: 10vw;

    @include mix.mq(sp) {
      margin-left: 0vw;
    }
  }

  &__text4 {
    margin : {
      bottom: -7%;
      left: 8vw;
    }

    @include mix.mq(sp) {
      margin-left: 0vw;
    }
  }
}

.text,
.textarea {
  background-color: $color_bg;
  border: $color_line;
  width: 29.5vw;
  padding: 0.5%;
  border: 0.1vw solid $color_bg;

  @include mix.mq(sp) {
    display: block;
    width: 90vw;
  }

  &:focus {
    border: 0.1vw solid $color_line;
  }
}

.text {
  margin-bottom: 5%;
}

.sent {
  font-size: $font_medium;
  border: 1px solid $color_line;
  text-align: center;
  background-color: $color_bg;
  margin: 10% auto;
  padding: 0.5%;
  width: 26vw;

  @include mix.mq(sp) {
    font-size: $font_xx-large;
    margin: 15% auto;
    width: 35vw;
  }
}

/* ---------------------------------------
privacy policy__main
--------------------------------------- */
.privacy-policy {
  margin: 0 auto;
  width: 71vw;
  margin-bottom: 10%;

  &__heading-lv3 {
    font-size: $font_large;

    @include mix.mq(sp) {
      font-size: $font_5x-large;
    }
  }

  &__text {
    font-size: $font_medium;

    @include mix.mq(sp) {
      font-size: $font_xx-large;
      line-height: 120%;
    }
  }
}